<h1>Eat-Da-Burger!</h1>

<div class="container">
    <div class="row">
        <div class="col-md-4" id="burgers">
            <h3>Burgers</h3>
            <ul>
                {{#each burgers}}
                {{#unless devoured}}
                {{burger_name}}
                {{/unless}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>